// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

// Favorit Extended
@font-face {
	font-family: "Favorit Extended";
	src: url("../fonts/Favorit-Extended-light.woff2") format("woff2");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "Favorit Extended";
	src: url("../fonts/Favorit-Extended-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Favorit Extended";
	src: url("../fonts/Favorit-Extended-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
