// fonts
$mainFont: "Favorit Extended", sans-serif;
$secondaryFont: "Inter", sans-serif;

// colors
$black: #000000;
$white: #ffffff;
$borderThin: rgba(255, 255, 255, 0.7);

// media-queries
$projector: "max-width: 1200px";
$desktop: "max-width: 1024px";
$tablet: "max-width: 768px";
$mobileL: "max-width: 425px";

// devices
$mouse-device: "(hover: hover) and (pointer: fine)";